.modify-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modify-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.modify-container form {
  display: flex;
  flex-direction: column;
}

.modify-container label {
  margin-bottom: 15px;
  font-weight: bold;
  color: #555;
}

.modify-container label textarea,
.modify-container label input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
  background-color: #fff;
  transition: border 0.3s ease;
}

.modify-container label textarea:focus,
.modify-container label input:focus {
  border-color: #007bff;
  outline: none;
}

.modify-container button {
  padding: 12px 20px;
  background-color: #007bff!important;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.modify-container button:hover {
  background-color: #0056b3;
}

.modify-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input:disabled, textarea:disabled {
  background-color: rgb(60, 59, 59)!important;
  color:white; /* Optionally, change text color to make it readable */
  border: 1px solid #ccc; /* You can modify the border as needed */
}
